# Default ignored files
/shelf/
/.idea/workspace.xml
out
target/
# Datasource local storage ignored files
/../../../../../../:\Users\semit\IdeaProjects\50_popular_coding_interview_problems_course\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/


HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
postgres.properties